logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
projectFilesBackup
*/.DS_Store
**/.DS_Store
.DS_Store
.bpmn
atlassian-ide-plugin.xml
*.bpmn2d
/.target
.cache
war
*.iml
*.ipr
*.iws
.gradle